/* education */
.education{
    position: relative;
}

.box{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 2%;
    background-color: azure;
    margin: 3%;
    position: relative;

}
.box::before{
    content: "";
    position: absolute;
    left: -10px;
    top: 32px;
    z-index: 0;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: azure;
}
