<div class="education">
  <div class="line"></div>
  <div class="box">
    <h3>Btech</h3>
    <p>
      I am currently in my 3rd year Computer Science Branch from AITR,Indore.
    </p>
  </div>
  <div class="box">
    <h3>HSC</h3>
    <p>
      I had completed my Higher Secondary (HSC) from Gyansthali(CBSE) with 78%
      in Science Stream.
    </p>
  </div>
  <div class="box">
    <h3>SSC</h3>
    <p>
      I had completed my Secondary School (SSC) from Nalanda Academy(CBSE) with
      10 CGPA.
    </p>
  </div>
</div>
