/* education */
.education{
    position: relative;
}
.line{
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: greenyellow;
}
.box{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 2%;
    background-color: azure;
    margin: 3%;
    position: relative;

}
.box::before{
    content: "";
    position: absolute;
    left: -10px;
    top: 32px;
    z-index: 0;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: azure;
}
.box::after{
    content: "";
    position: absolute;
    top: 30px;
    left: -42px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: greenyellow;
}
