.footer{
    background-color: #7C83FD;
    padding: 5% 10%;
    text-align: center;
    color: #fff;
}
p{
  font-size: large;
}
@media only screen and (max-width: 650px){
  p{
    font-size: unset;
  }
}
