<div class="social-media">
  <div class="social-block left-block">
    <fa-icon [icon]="faShare"></fa-icon>
  </div>
  <div class="social-icons">
    <a
      href="https://www.facebook.com/profile.php?id=100021971202682"
      target="_blank"
      class="social-link"
    >
      <fa-icon [icon]="faFacebookF"></fa-icon>
    </a>
    <a
      href="https://www.linkedin.com/in/krishan-murari-barnwal-45429b1b0/"
      target="_blank"
      class="social-link"
    >
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
    </a>
    <a
      href="https://wa.me/+91%209564122990"
      target="_blank"
      class="social-link"
    >
      <fa-icon [icon]="faWhatsapp"></fa-icon>
    </a>
  </div>
  <div class="social-block right-block">
    <fa-icon [icon]="faShare"></fa-icon>
  </div>
</div>
