<div
  class="box"
  [ngClass]="{
    projects: card.type == 'projects',
    'box-color': card.type == 'profiles',
    'box-skills': card.type == 'skills'
  }"
>
  <img
    *ngIf="card.type !== 'profiles'"
    [src]="card.imageSrc"
    [alt]="card.type"
  />
  <a href="{{ card.url }}" target="_blank"
    ><h3>{{ card.head }}</h3></a
  >
  <div class="show-link" *ngIf="card.type == 'projects'">
    <a href="{{ card.url }}" target="_blank"
      ><fa-icon [icon]="faGithub"></fa-icon>
    </a>
  </div>
</div>
