.hero-section{
    background-color: #7C83FD;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    margin: 0;
    padding: 10%;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-weight: 700;
    font-size: 64px;
}
.image{
    width: 21.875rem;
    height: 21.875rem;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.image img{
    width: 21.875rem;
    height: 21.875rem;
    object-fit: contain;
}
